#home {
    margin: var(--header-height) auto 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1051px;
}

#home .create-quizz {
    width: 100%;
    height: 181px;
    font-weight: 400;
    position: relative;
    border: dashed #D5D5D5 1px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 77px;
    margin-bottom: 77px;
}

#home .create-quizz span {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 250px;
    font-size: 20px;
    text-align: center;
    color: #b9b9b9;
}

#home .create-quizz button {
    width: 151px;
    height: 40px;
    color: #ec362d;
    background-color: #fafafa;
    font-size: 21px;
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    border: dashed #ec362d 1px;
    border-radius: 50px;
    box-sizing: border-box;
}

#home .server-quizzes, #home .user-quizzes {
    width: 100%;
}

#home .user-quizzes {
    margin-top: 65px;
    margin-bottom: 48px;
}

#home .server-quizzes h3 {
    margin-bottom: 12px;
}

#home .quizzes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#home .quizzes-list li {
    width: 340px;
    height: 181px;
    position: relative;
    overflow: hidden;
}

#home .quizzes-list li:hover .edit-delete-box {
    right: 0;
    transition: all 80ms linear;
}

#home .quizzes-list li.quizzes-list-loader{
    border: 1px solid rgb(236, 54, 45);;
    border-radius: 5px;
    box-sizing: border-box;
}

#home .quizzes-list li .lds-default{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home .quizzes-list li .edit-delete-box {
    background-color: red;
    position: absolute;
    right: -43px;
    top: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 43px;
    height: 87px;
    border-radius: 10px 0 0 10px;
    transition: all 50ms linear;
}

#home .quizzes-list li .edit-delete-box ion-icon {
    font-size: 18px;
    --ionicon-stroke-width: 36px;
    color: white;
}

#home .quizzes-list li.quizz-card::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 64%, #000 100%);
    border-radius: 5px;
}

#home h4 {
    position: absolute;
    left: 18px;
    bottom: 7px;
    height: 54px;
    width: 301px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
}

#home .quizzes-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#home .user-quizzes div {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

#home .user-quizzes .add-quizz-button {
    margin-left: 17px;
    font-size: 31px;
    color: #ec362d;
}

@media (max-width: 1100px) {
    #home {
        width: calc(100vw - 17px * 2);
    }
    #home .create-quizz {
        margin-top: 31px;
        margin-bottom: 35px;
    }
    #home .quizzes-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
    }
    #home .user-quizzes {
        margin-top: 34px;
        margin-bottom: 38px;
    }
    #home .user-quizzes div {
        justify-content: space-between;
    }
    #home .quizzes-list li .edit-delete-box {
        right:  0;
    }
}