#quizz{
    margin: var(--header-height) auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quizz h1{
    font-size: 39px;
    font-weight: 400;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1100px;
}


#quizz h2{
    width: calc(100% - 32px * 2);
    height: calc(100% - 23px * 2);
    font-size: 23px;
    font-weight: 700;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#quizz h3{
    font-size: 20px;
    font-weight: 700;
    color: black;
    height: 34px;
    display: flex;
    align-items: center;
    margin-top: 7.75px;
    margin-bottom: 18.61px;
}

#quizz .quizz-header {
    width: 100%;
    height: 227px;
    position: relative;
}

#quizz .quizz-header::before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60));
    position: absolute;
    top: 0;
    left: 0;
}

#quizz .quizz-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#quizz .quizz-question-container,
#quizz .quizz-result{
    box-sizing: border-box;
    width: 759px;
    margin-top: 42px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 28px 36px;
}

.quizz-question-header,
.quizz-result-header{
    background-color: #ec362d;
    width: 100%;
    height: 137.99px;
    position: relative;
    margin-bottom: 20.26px;
}

.quizz-answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz-answers li{
    display: flex;
    flex-direction: column;
}

.quizz-answers li img{
    width: 331.94px;
    height: 175.2px;
    object-fit: cover;
}

#quizz .quizz-question-container.answered li{
    opacity: 0.3;
}

#quizz .quizz-question-container.answered li.selected{
    opacity: 1 !important;
}

#quizz .quizz-question-container.answered li.right h3{
    color: #009c22 !important;
}

#quizz .quizz-question-container.answered li.wrong h3{
    color: #ff4b4b !important;
}


.quizz-result-content{
    display: flex;
    gap: 21px;
}

.quizz-result img{
    width: 50%;
    object-fit: cover;
}

.quizz-result p{
    width: 50%;
    font-size: 19px;
    color: #484848;
    font-weight: 700;
}

@media (max-width: 1100px){
    #quizz h1{
        font-size: 19px;
        width: calc(100% - 33px * 2);
    }
    #quizz h2{
        width: calc(100% - 16px * 2);
        height: calc(100% - 15px * 2);
        font-size: 19px;
    }
    #quizz h3{
        font-size: 13px;
        height: 22px;
        margin-top: 5px;
        margin-bottom: 12px;
    }

    .quizz-result p{
        width: 100%;
        font-size: 17px;
    }

    #quizz .quizz-header {
        width: 100%;
        height: 142px;
        margin-bottom: 4px;
    }

    #quizz .quizz-question-container,
    #quizz .quizz-result{
   
        width: 375px;
        margin-top: 24px;
        padding: 18px;
    }
    .quizz-question-header,
    .quizz-result-header{
        width: 100%;
        height: 89px;
        margin-bottom: 13px;
    }
    .quizz-answers li img{
        width: 163px;
        height: 113px;
        object-fit: cover;
    }
    

    .quizz-result-content{
        flex-direction: column;
        gap: 9px;
    }

    .quizz-result img{
        width: 100%;
    }
}